.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.CompleteTextWrapper {
  flex: 1 0 0;
  padding: 50px;
  overflow: hidden;
}

.CompleteText {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  user-select: none;
}

.WordInput {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
