body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  border: 0;
  background: transparent;
  text-align: center;
  caret-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-size: 48px;
}

input:focus {
  outline: none;
}
